* {
  font-family: 'Gugi', cursive;
  letter-spacing: 1.5px;
  padding: 0;
  margin: 0;

}

body {
  /* background-color: rgb(255, 253, 253); */
  background-color: #FCFCFC;
  min-height: 100vh;  /* background-color: rgb(0,0,0,.); */
  color: #585c61;
  overflow: auto;
  /* background-image: url("/snow.png"); */
}
/* swirl, stardust */

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  /* font-family: Monoton; */
  /* font-family: 'Heebo', sans-serif; */
  font-weight: 300;
}

p { 
  font-family: 'Heebo', sans-serif;
  /* font-weight: 300; */
}

button:hover {
  cursor: pointer;
}

/* ON/OFF SWTICHER */
.switch {
  width: 50px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.switch input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.switch label {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #cbc7bc;
  box-shadow: inset 0px 1px 0px white,
  0 0 0 1px #999,
  0 0 5px 1px rgba(0,0,0,.2),
  0 2px 0 rgba(255,255,255,.6),
  inset 0 11px 0 rgba(255,255,255,.5),
  inset 0 -45px 3px #ddd;
}

.switch label::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: -13px;
  left: 20px;
  background-color: #666;
  border-radius: 50%;
  box-shadow:
    0 1px 0 white,
    0 120px 0 #666,
    0 121px 0 white;
}

.switch label::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -25px;
  bottom: -20px;
  right: -25px;
  background-color: #ccc;
  z-index: -1;
  background: linear-gradient(#ddd, #bbb);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .15),
              0 0 3px 13px rgba(0, 0, 0, .3)
}

.switch input:checked ~ label {
  background-color: #d2cbc3;
  box-shadow: inset 0 1px 0 white,
              0 0 0 1px #999,
              0 0 5px 1px rgba(0,0,0,.2),
              inset 0 -10px 0 #aaa,
              0 2px 0 rgba(255,255,255,.1),
              inset 0 45px 3px #e0e0e0;
              
}


/* Flicker out drakness */
.flicker-out-1 {
	-webkit-animation: flicker-out-1 2s linear both;
          animation: flicker-out-1 1s linear both;
          animation-delay: .5s;
}
@-webkit-keyframes flicker-out-1 {
  0% {
    opacity: 1;
  }
  13.9% {
    opacity: 1;
  }
  14% {
    opacity: 0;
    box-shadow: none;
  }
  14.9% {
    opacity: 0;
    box-shadow: none;
  }
  15% {
    opacity: 1;
  }
  22.9% {
    opacity: 1;
  }
  23% {
    opacity: 0;
    box-shadow: none;
  }
  24.9% {
    opacity: 0;
    box-shadow: none;
  }
  25% {
    opacity: 1;
  }
  34.9% {
    opacity: 1;
  }
  35% {
    opacity: 0;
    box-shadow: none;
  }
  39.9% {
    opacity: 0;
    box-shadow: none;
  }
  40% {
    opacity: 1;
  }
  42.9% {
    opacity: 1;
  }
  43% {
    opacity: 0;
    box-shadow: none;
  }
  44.9% {
    opacity: 0;
    box-shadow: none;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  54.9% {
    opacity: 1;
  }
  55% {
    opacity: 0;
    box-shadow: none;
  }
  69.4% {
    opacity: 0;
    box-shadow: none;
  }
  69.5% {
    opacity: 1;
  }
  69.9% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    box-shadow: none;
  }
  79.4% {
    opacity: 0;
    box-shadow: none;
  }
  79.9% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    box-shadow: none;
  }
  89.8% {
    opacity: 0;
    box-shadow: none;
  }
  89.9% {
    opacity: 1;
    box-shadow: none;
  }
  90% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flicker-out-1 {
  0% {
    opacity: 1;
  }
  13.9% {
    opacity: 1;
  }
  14% {
    opacity: 0;
    box-shadow: none;
  }
  14.9% {
    opacity: 0;
    box-shadow: none;
  }
  15% {
    opacity: 1;
  }
  22.9% {
    opacity: 1;
  }
  23% {
    opacity: 0;
    box-shadow: none;
  }
  24.9% {
    opacity: 0;
    box-shadow: none;
  }
  25% {
    opacity: 1;
  }
  34.9% {
    opacity: 1;
  }
  35% {
    opacity: 0;
    box-shadow: none;
  }
  39.9% {
    opacity: 0;
    box-shadow: none;
  }
  40% {
    opacity: 1;
  }
  42.9% {
    opacity: 1;
  }
  43% {
    opacity: 0;
    box-shadow: none;
  }
  44.9% {
    opacity: 0;
    box-shadow: none;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  54.9% {
    opacity: 1;
  }
  55% {
    opacity: 0;
    box-shadow: none;
  }
  69.4% {
    opacity: 0;
    box-shadow: none;
  }
  69.5% {
    opacity: 1;
  }
  69.9% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    box-shadow: none;
  }
  79.4% {
    opacity: 0;
    box-shadow: none;
  }
  79.9% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    box-shadow: none;
  }
  89.8% {
    opacity: 0;
    box-shadow: none;
  }
  89.9% {
    opacity: 1;
    box-shadow: none;
  }
  90% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    opacity: 0;
  }
}


/* fade in navbar */
.fade-in {
	-webkit-animation: fade-in 8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/* tablets */
@media screen and (max-width: 480px) {
  .flicker-in-2 {
      display: none;
    }
  .app {
    display: flex;
    flex-direction: column;
  }
}

