.introduction p {
box-shadow: 0 5px 20px rgba(0,0,0,.8);
transform: translateY(-10px) scale(1.02);
/* .entry-title{
  background-position: -100% 0;
}  */
}

.certificationName:hover {
  color: orange;
  cursor: pointer;
}
