/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

} */

.headline-name {
    text-align: center;
    margin-top: -20px;
    text-shadow: 0 3px 12px 0 rgba(155, 155, 163, 1);
} 

.skillbox-headline {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
} 

.all-skills-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 60px 0 auto;
}

.show-skills-list {
    height: 360px;
    background-color: white;
    width: 300px;
    border: solid 0.2px #9055fb;
    box-shadow: 0 3px 12px 0 rgba(155, 155, 163, 1);
    z-index: 0;
    transition: all 0.2s ease-in-out;
}
.show-skills-list:hover {
    transform: scale(1.0);
}


/* 
.transparent-space {
    height: 200px;
    text-align: center;
  
} */

.introduction {
    margin: 0 auto;
    color: #9aa0a5;
    width: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    transform: translateY(-10px) scale(1.02);
} 

.number-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px auto 0;
    width: auto;
    max-width: 90%;
    text-align: left;
    align-items: center;
}
/* .certification-name:hover {
    color: orange;
    cursor: pointer;
} */


@media screen and (max-width: 760px) {
    .introduction {
        width: 80%;
        margin-bottom: 35px;
    }

    .all-skills-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
    }
    
    .show-skills-list {
        height: 360px;
        background-color: white;
        width: 300px;
        border: solid 0.2px #9055fb;
        box-shadow: 0 3px 12px 0 rgba(155, 155, 163, 1);
        z-index: 0;
        transition: all 0.2s ease-in-out;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    
}
