.container {
    display: flex ;
    flex-direction: column ;
    text-align: center;
}

.contactMe-headline {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.form {
  margin: 0 auto;
  margin-top: 100px;
  width: 32%;
  text-align: left;
  color: #e5e5e5;
}

*:focus {
  outline: none;
}

.placeholderDesign {
  border: none;
  border-bottom: solid 0.2px #9055fb;
  /* boxShadow: '0px 3px 12px 0px rgba(155, 155, 163, 1)'; */
  font-size: 18px;
  width: 100%;
  margin-bottom: 60px;
  background-color: #FCFCFC;
}

.btn-contact {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 120px;
    height: 35px;
    border-radius: 8px;
    background-color: #ffaa19;
    color: white;
    font-size: 16px;
    margin-top: 15px;
}

.social-icons-div {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  margin-top: 60px;
  width: 150px;
}


@media screen and (max-width: 900px) {
  .form {
    margin: 0 auto;
    width: 70%;
    text-align: left;
    color: #e5e5e5;
  }

  .placeholderDesign {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .contactMe-headline {
    margin-top: -20px;
  }
}

